name: Executar Notebook

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependências de execução
      run: |
        python -m pip install --upgrade pip
        pip install pandas faker nbconvert jupyter

    - name: Converter notebook para .py
      run: |
        jupyter nbconvert --to python index.ipynb

    - name: Executar script convertido
      run: |
        python index.py
